html, body {
        position: relative;
        height: 100vh;
}

body {
	margin: 0;
	overflow: hidden
}

#outer-swiper {
	height:94%;
	width: 100%;
	margin-top: 6%
}

.swiper-container {
    width: 100%;
    height: 100%;
	position: relative;
}

.swiper-wrapper {
	width: 100%;
	height: 80%	;
	min-width: 320px
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#svg-wrapper {
	margin-top: 70px;	
	height: 50px;
	width: 50	px;
}
.arrow-svg {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	width: 27px;
  	height: 44px;
  	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

#arrow-svg {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	width: 27px;
  	height: 44px;
  	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

#plug-svg {
	background-image: url("data%3Aimage%2Fsvg+xml%3Bcharset%3Dutf-8%2C%3Csvg+xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0Aclass%3D%22icon++icon--plus%22+viewBox%3D%220+0+5+5%22+%3E%3Cpath+d%3D%22M2+1+h1+v1+h1+v1+h-1+v1+h-1+v-1+h-1+v-1+h1+z%22+%2F%3E%3C%2Fsvg%3E");
	width: 100px;
  	height: 100px;	
}

#social-icons {
	margin-right: 20px;
}

.photo {
	width: 720px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

#about-text {
	height:94%;
	width: 100%;
	margin-top: 8%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: auto
}